.DiaryList{}

.DiaryList .menu_wrapper{
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.DiaryList .left_col select{
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Nanum Pen Script";
    font-size: 18px;
}

.DiaryList .menu_wrapper .right_col{
    flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button{
    width: 100%;
}

.DiaryList .info_section {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}

.DiaryList .info_section .date_wrapper{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.DiaryList .info_section .content_wrapper {
    font-size: 18px;
}
